@font-face {
  font-family: Oately;
  font-style: normal;
  font-weight: 400;
  src: url('https://payroll.justworks.com/fonts/Oately-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Oately;
  font-style: normal;
  font-weight: 700;
  src: url('https://payroll.justworks.com/fonts/Oately-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Oately;
  font-style: normal;
  font-weight: 900;
  src: url('https://payroll.justworks.com/fonts/Oately-BoldDisplay.woff2') format('woff2');
  font-display: swap;
}

:root {
  font-family: "Oately", sans-serif;
}

:root {
  --space-0: 0;
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 2.5rem;
  --space-3xl: 3rem;
  --space-4xl: 4rem;
}

:root {
  --color-white: #fff;
  --color-white-10: rgb(255 255 255 / 10%);
  --color-white-15: rgb(255 255 255 / 15%);
  --color-blue-100: #e5f3ff;
  --color-blue-200: #b6e5ff;
  --color-blue-300: #6dc8ff;
  --color-blue-400: #52b0ff;
  --color-blue-500: #0092f6;
  --color-blue-600: #0070d4;
  --color-blue-700: #0e57b5;
  --color-blue-800: #1e3d92;
  --color-blue-900: #15246d;
  --color-blue-dark: #004e7e;
  --color-yellow-100: #ffeed1;
  --color-yellow-200: #ffdb7b;
  --color-yellow-200-80: rgb(255 219 123 / 80%);
  --color-yellow-400: #f3b715;
  --color-yellow-600: #ad5e0d;
  --color-yellow-800: #753204;
  --color-yellow-dark: #643f00;
  --color-green-100: #ddf3ea;
  --color-green-200: #98E2C5;
  --color-green-300: #65c9a3;
  --color-green-400: #00a46b;
  --color-green-600: #008354;
  --color-green-800: #005133;
  --color-green-dark: #154d38;
  --color-red-100: #fff0eb;
  --color-red-200: #ff9f82;
  --color-red-400: #fb7f59;
  --color-red-500: #df5a31;
  --color-red-600: #cb431d;
  --color-red-700: #af2c10;
  --color-red-800: #832512;
  --color-red-dark: #762615;
  --color-purple-100: #f4ebfc;
  --color-purple-200: #baaaf9;
  --color-purple-400: #8a73e5;
  --color-purple-600: #5f43ca;
  --color-purple-800: #4529b4;
  --color-purple-dark: #423674;
  --color-gray-100-60: rgb(247 248 251 / 60%);
  --color-gray-100-80: rgb(247 248 251 / 80%);
  --color-gray-100: #f7f8fb;
  --color-gray-200: #eef0f4;
  --color-gray-300: #d7dbe2;
  --color-gray-400: #a9adb5;
  --color-gray-500: #5e6167;
  --color-gray-600: #3f4147;
  --color-black: #1c1d1f;
  --color-black-5: rgb(28 29 31 / 5%);
  --color-black-10: rgb(28 29 31 / 10%);
  --color-navy-100: #5d85c5;
  --color-navy-200: #344770;
  --color-navy-400: #283655;
  --color-navy-600: #192133;
  --color-navy: #0f1522;
  --color-navy-60: rgb(25 31 44 / 60%);
}

:root {
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-hero: 3.5rem;
  --font-weight-oatley-regular: 400;
  --font-weight-oatley-bold: 700;
  --font-weight-oatley-display: 900;
}

:root {
  --color-box-shadow: 0 4px 8px rgb(0 0 0 / 5%), 0 4px 8px rgb(0 0 0 / 10%);
}

:root {
  --radius-xxs: 0.125rem; /* 2px */
  --radius-xs: 0.25rem; /* 4px */
  --radius-sm: 0.5rem; /* 8px */
  --radius-md: 1rem; /* 16px */
  --radius-lg: 3rem; /* 48px */
  --radius-round: 999em; /* round radius at any height */
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-button-text: var(--color-white);
  --color-button-default: var(--color-black);
  --color-button-hover: var(--color-gray-600);
  --color-button-active: var(--color-black);
  --color-button-focus: var(--color-blue-400);
}

.button {
  text-align: center;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
  font-weight: 700;
  padding: var(--space-md);
  border-radius: var(--radius-xs);
  background-color: var(--color-button-default);
  color: var(--color-button-text);
  border: 0;
  text-decoration: none;
  min-width: 8rem;
  line-height: 1;
  transition: background-color 0.5s;
}

.btn-outline {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px currentcolor;
  color: var(--color-transparent-button-default);
  transition: background-color 0.5s;

  &:--hover {
    background-color: var(--color-transparent-button-hover);
    cursor: pointer;
  }

  &:--active {
    transition: background-color 0s;
    background-color: var(--color-transparent-button-active);
  }

  &:disabled:not(.loading) {
    background-color: transparent;
    color: var(--color-text-inactive);
  }
}

label {
  display: block;
}

:root {
  --color-input-border-default: var(--color-gray-300);
  --color-input-border-hover: var(--color-gray-400);
  --color-input-border-active: var(--color-blue-400);
  --color-input-border-inactive: var(--color-gray-300);
  --color-input-background-inactive: var(--color-gray-100);
  --color-text-input-inactive: var(--color-gray-400);
}

input[type="text"] {
  appearance: none;
  color: inherit;
  background-color: var(--color-page-background);
  border: 1px solid var(--color-input-border-default);
  border-radius: var(--radius-xs);
  padding: var(--space-sm);
  transition: border-color 0.25s ease-out;
  margin: 0;
  height: 3rem;
  font-size: 1rem;
  min-width: 2rem;

  &::placeholder {
    color: var(--color-text-inactive);
  }
  
  &:hover {
    border-color: var(--color-input-border-hover);
  }
  
  &:disabled {
    color: var(--color-text-input-inactive);
    background-color: var(--color-input-background-inactive);
  }
}
